<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd9bcd">  <td>19/11/30 18:21:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecutionFile.AddItemToCartValidationTest()[pri:2, instance:davies.group.automation.task.ExecutionFile@29774679]">AddItemToCartValidationTest</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/11/30 18:19:45</td>   <td>-93642</td> <td>&nbsp;</td><td title="&gt;&gt;ExecutionFile.Setup()[pri:0, instance:davies.group.automation.task.ExecutionFile@29774679]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/11/30 18:19:59</td>   <td>-79443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecutionFile.SignInUserValidationTest()[pri:0, instance:davies.group.automation.task.ExecutionFile@29774679]">SignInUserValidationTest</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/11/30 18:20:59</td>   <td>-19300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecutionFile.UserAccountValidationTest()[pri:1, instance:davies.group.automation.task.ExecutionFile@29774679]">UserAccountValidationTest</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/11/30 18:21:54</td>   <td>36019</td> <td>&nbsp;</td><td title="&lt;&lt;ExecutionFile.closewebapp()[pri:0, instance:davies.group.automation.task.ExecutionFile@29774679]">&lt;&lt;closewebapp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
</table>
