<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Davies-Group Automation Task</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd9bcd">  <td>19/11/30 16:44:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecutionFile.AddItemToCartValidationMethod()[pri:2, instance:davies.group.automation.task.ExecutionFile@29774679]">AddItemToCartValidationMethod</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/11/30 16:44:13</td>   <td>-19600</td> <td>&nbsp;</td><td title="&gt;&gt;ExecutionFile.Setup()[pri:0, instance:davies.group.automation.task.ExecutionFile@29774679]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/11/30 16:44:27</td>   <td>-5190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecutionFile.SignInUserValidationMethod()[pri:0, instance:davies.group.automation.task.ExecutionFile@29774679]">SignInUserValidationMethod</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/11/30 16:44:33</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecutionFile.UserAccountValidationMethod()[pri:1, instance:davies.group.automation.task.ExecutionFile@29774679]">UserAccountValidationMethod</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/11/30 16:44:33</td>   <td>5</td> <td>&nbsp;</td><td title="&lt;&lt;ExecutionFile.closewebapp()[pri:0, instance:davies.group.automation.task.ExecutionFile@29774679]">&lt;&lt;closewebapp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
</table>
